.reorderContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 79px auto;
}

.selectInputWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% - 39px));
}

.reorderHeader {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}

.goBackIcon {
  cursor: pointer;
}

.reorderHeaderLeft {
  display: flex;
  align-items: center;
}

.reorderHeaderFileName {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-left: 5px;
}

.selectPDF {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  padding: 10px 0;
  cursor: pointer;
  border-style: dashed;
  border-width: 2px;
  border-color: #d3d3d3;
  padding: 200px;
}

.selectPDF_text1 {
  margin: 20px 0 0 0;
}

.selectPDF_text2 {
  margin-top: 5px;
}

.pdfViewer {
  padding: 30px 50px;
}

.pdfPreviewWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pdfPreview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 !important;
}

.eachPreviewedPdf {
  position: relative;
  margin: 10px;
  cursor: grab;
  padding: 30px;
  border: 4px solid #f3c3c8;
  background-color: white;
}

.closeButton {
  position: absolute;
  top: -16px;
  right: -16px;
  display: none;
  cursor: pointer;
}

.reorderFooter {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #fcfcfc;
  border-top: 1px solid #e8e8e8;
  padding: 20px 20px;
}

.reorderFooterContainer {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reorderFooterRight {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.reorderCancel,
.reorderOrganize {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 10px 15px;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  cursor: pointer;
}

.reorderCancel {
  margin-right: 10px;
  border: 1px solid #bcbcbc;
  color: #656770;
  background-color: white;
}

.reorderOrganize {
  color: white;
  background-color: #e5322d;
}

.cancelDisabled,
.organizeDisabled {
  pointer-events: none !important;
  border: 1px solid #e2e2e2 !important;
  user-select: none;
}

.cancelDisabled {
  color: #cbcbcb !important;
}

.organizeDisabled {
  background-color: #e49996 !important;
}
