@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: rgb(228, 211, 165); */
  /* background: linear-gradient(240deg, rgba(228, 211, 165, 1) 0%, rgba(193, 127, 111, 1) 100%); */
}
