.container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(228, 211, 165);
  background: linear-gradient(
    240deg,
    rgba(228, 211, 165, 1) 0%,
    rgba(193, 127, 111, 1) 100%
  );
}

.arrangeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 100px 0;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labels {
  color: white;
  font-size: 45px;
  font-family: "Roboto", sans-serif;
}

.inputs {
  margin: 20px;
  padding: 2px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 0 8px rgb(245, 245, 245);
  border-radius: 5px;
  cursor: pointer;
}

.mergeButtonContainer {
  width: 100%;
  text-align: center;
}

.mergeButton {
  margin-top: 50px;
  padding: 5px 20px;
  color: white;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  box-shadow: 0 0 8px rgb(245, 245, 245);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar {
  width: 100%;
  background-color: #989b98;
  padding: 20px;
}
.navbarContent {
  display: flex;
}

.navbarContent li {
  list-style: none;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  border-bottom: 2px solid #eee;
  color: aliceblue;
  font-size: 24px;
}

.navbarContent li:hover {
  opacity: 0.7;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.canvasPage {
  margin: 10px;
}

.spanContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
